/* global configuration  */
* {
    border: none;
    border-radius: 0;
    font-family: "DejaVu Sans Mono";
    font-size: 13px;
    min-height: 0;
}
window#waybar {
    background: transparent;
    color: #ffffff;
}

/* workspace configuration */
#workspaces button {
    background: transparent;
    color: rgba(92, 92, 92, 1);
    padding: 3px 5px 3px 5px;
    border: 1px solid rgba(42, 69, 70, 0);
}
#workspaces button.visible {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(100, 100, 100, 1);
    border: 1px solid rgba(42, 69, 70, 1);
}
#workspaces button.focused {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(7, 42, 46, 1);
    border: 1px solid rgba(42, 69, 70, 1);
}
#workspaces button.urgent {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(150, 0, 0, 1);
}

/* toolpip configuration */
tooltip {
    background-color: rgba(7, 42, 46, 1);
    border: 1px solid rgba(42, 69, 70, 1);
}
tooltip label {
  color: #ffffff;
}

/* modules placement and separators */
#window, #custom-media, #custom-vpn, #network, #clock, #custom-microphone, #wireplumber, #battery, #tray, #custom-power {
    padding: 2px 13px;
}
#custom-media, #custom-vpn, #network, #clock, #wireplumber, #battery, #tray {
    border-right: 1px solid rgba(100, 114, 125, 0.5);
}
#window {
    margin-left: 13px;
    border-left: 1px solid rgba(100, 114, 125, 0.5);
}

/* Battery */
#battery {
    color: white;
}
#battery.warning {
    color: #FFC43D;
}
#battery.critical {
    color: #EF476F;
}
#battery.charging {
    color: #06D6A0;
}
