[Unit]
Description=Waybar reloader

[Service]
Type=oneshot
ExecStart=%h/.config/waybar/scripts/reload.sh

[Install]
WantedBy=graphical-session.target
