* {
  font-family: monospace;
  font-size: 0.98em;
}

window {
margin: 0px;
border: 2px solid #072a2e;
background-color: #21242b;
}

#input {
margin: 5px;
border: none;
color: #ffffff;
background-color: #21242b;
font-family: monospace;
font-size: 0.85em;
}

#inner-box {
margin: 5px;
border: none;
background-color: #21242b;
}

#outer-box {
margin: 5px;
border: none;
background-color: #21242b;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #5c5c5c;
}

#entry.activatable #text {
color: #5c5c5c;
}

#entry > * {
color: #5c5c5c;
}

#entry:selected {
background-color: #072a2e;
border: 1px solid #2a4546;
}

#entry:selected #text {
color: #ffffff;
}

#entry:selected > * {
color: #ffffff;
}
